/* VDAS.css - contains the presentation information for the "contents" sections of each page. */

#recallContainer
{
  position: relative;
  border: 2px solid black;
  width: 550px;
  margin: 0px auto;
  padding: 5px;
}

.noFormatTable
{
  border-width: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.noFormatTable td
{
  background-color: #FFF;
  border-width: 0px;
  border-spacing: 0px;
  padding: 1px;
  margin: 0px;
}

.formLabel
{
  text-align: right;
  width: 90px;
}

.checkBatch
{
  cursor: pointer;
  position: relative;
  left: 3px;
}

.checkBatch:hover
{
  color: #00f;
}

#resetButton
{
  position: absolute;
  left: 390px;
  top: 20px;
  height: 50px;
  width: 150px;
  font-size: 175%;
}

#resultsTable
{
  width: 100%;
  text-align: center;
}

#resultCount
{
  color: blue;
  font-weight: bold;
  font-size: 120%;
}

#hitCounter
{
  font-size: 8pt;
  position: absolute;
  right: 0px;
  text-align: right;
  margin-top: 18px;
  margin-right: 10px;
}

.hitNum
{
  font-weight: bold;
  color: blue;
}

#cgiContainer
{
  font-size: 130%;
}

.seperator
{
  border-bottom: 1px solid #fff;
  height: 11px;
}

td
{
  background-color: #dce8f5;
}

th
{
  background-color: #e2e2e2;
  color: #666;
  text-align: center;
}